body {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    background-color: rgb(29, 29, 53);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.header {
    grid-column: span 4;
    margin: 0;
    padding: 0;
    font-family: 'Righteous', cursive;
    color: rgb(151, 151, 246);
    text-align: center;
    width: 100%;
    min-height: 50vh;
    height: 50vh;
    background-color: rgb(27, 24, 37);
}

.content {
    grid-column: span 4;
    width: 100%;
    min-height: 50vh;
    height: 50vh;
}

.create {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    /* background-color: rgb(222, 214, 255); */
    width: 70vw;
    border-radius: 2rem;
    display: inline-block;
}

.input-name {
    font-family: 'Comfortaa', cursive;
    position: absolute;
    left: 0;
    border-radius: 2rem 0 0 2rem;
    background-color: rgb(100, 0, 194);
    color: white;
    text-align: center;
    border: none;
    outline: none;
    margin: 0;
    padding: 5px;
    width: 49%;
    height: 48px;
    font-size: 2vw;
    border: solid 1px rgb(100, 0, 194);
    border-radius: 2rem 0 0 2rem;
}

.input-name::placeholder{
    color: rgb(200, 108, 253);
}

.input-name:focus {
    border: solid 1px white;
    border-radius: 2rem 0 0 2rem;
}

.button-create-room {
    position: absolute;
    right: 0;
    font-family: 'Comfortaa', cursive;
    border-radius: 0 2rem 2rem 0;
    color: white;
    background-color: rgb(0, 153, 167);
    border: none;
    outline: none;
    margin: 0;
    width: 50%;
    height: 60px;
    font-size: 2vw;
}

.button-create-room:hover, .button-create-room:focus {
    color: rgb(0, 54, 59);
    background-color: rgb(0, 234, 255);
}

.abouts {
    top: 10%;
    padding: 2rem;
    font-size: 1rem;
}

.footer {
    grid-column: span 4;
    margin: 0;
    width: 100%;
    grid-row: span 2;
    text-align: center;
    min-height: 50vh;
    height: 50vh;

}

.header-text {
    margin: 0;
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.logo {
    font-size: 10vw;    
    color: rgb(124, 124, 255);
    animation: color 5s infinite linear;
}

.de-logo {
    font-size: 3vw;
}

@keyframes color {
    0% {
        color: rgb(105, 251, 227);
    }
    25% {
        color: rgb(124, 124, 255);
    }
    50% {
        color: rgb(156, 105, 251);
    }
    75% {
        color: rgb(124, 124, 255);
    }
    100% {
        color: rgb(105, 251, 227);
    }
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgb(17, 16, 22);
    animation: hidden 1s linear;
}

.loading-text {
    position: absolute;
    top: 65%;
    text-align: center;
    color: white;
    width: 100%;
    font-size: 5vw;
}

@keyframes hidden {
    0% {
        background-color: transparent;
    }
    100% {        
        background-color: rgb(17, 16, 22);
    }
}